<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879454225614-ugu2t9dkcjm7vmjrh8hb1o7iqcurhtle.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879454225614-ugu2t9dkcjm7vmjrh8hb1o7iqcurhtle</string>
	<key>API_KEY</key>
	<string>AIzaSyA7CMCepIwMQyemU26mIQzdC9m93iC-F9I</string>
	<key>GCM_SENDER_ID</key>
	<string>879454225614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.balu10.CalorieTrackr</string>
	<key>PROJECT_ID</key>
	<string>calorietrackr</string>
	<key>STORAGE_BUCKET</key>
	<string>calorietrackr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879454225614:ios:9d429266c27e08e0d5bc9f</string>
</dict>
</plist>